<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PI" value="3.14159265359" />

    <ros2_control name="RobotSystem" type="system">

        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <!-- Joint 1 -->
        <joint name="body_joint">
            <command_interface name="position">
                <param name="min">-0.85</param>
                <param name="max">0.85</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
        </joint>

        <joint name="face_joint_x">
            <command_interface name="position">
                <param name="min">-0.85</param>
                <param name="max">0.85</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
        </joint>

        <!-- Joint 3 -->
        <joint name="left_joint_x">
            <command_interface name="position">
                <param name="min">-0.05</param>
                <param name="max">0.45</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
        </joint>

        <!-- Joint 5 -->
        <joint name="left_joint_y">
            <command_interface name="position">
                <param name="min">-0.05</param>
                <param name="max">0.85</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
        </joint>

        <!-- Joint 3 -->
        <joint name="right_joint_x">
            <command_interface name="position">
                <param name="min">-0.05</param>
                <param name="max">0.45</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
        </joint>

        <!-- Joint 2 -->
        <joint name="right_joint_y">
            <command_interface name="position">
                <param name="min">-0.05</param>
                <param name="max">0.85</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0</param>
            </state_interface>
        </joint>

    </ros2_control>

    <!-- <transmission name="body_joint_trans">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <joint name="body_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="body_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="face_joint_x_trans">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <joint name="face_joint_x">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="face_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission> -->

</robot>